.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.two-card {
  /* display: flex; */
}

.card-padding-mid {
  padding: 7%;
}
.card-padding-small {
  padding: 3%;
}

.small-card {
  width: 33%;
}

.left-align {
  text-align: left;
}

.margin-5 {
  margin: 5%;
}

@media (max-width: 500px) {
  .small-card {
    width: 100%;
  }
}

.split-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.split-radio {
  display: flex;
}

.app-header {
  display: flex;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
}

.header-icon-group {
  display: flex;
}
.header-icon {
  font-size: 28px;
}
.form-grid-data {
  display: flex;
  align-items: center;
  padding-left: 2%;
}
.font-small {
  /* font-size: 0.9rem; */
  padding-right: 2%;
  color: grey;
}
.font-mid {
  /* font-size: 1.2rem; */
}

#right-align {
  /* color: red; */
  font-size: 1.3rem;
  /* margin: 1%, 3%; */
  margin-top: 0.2%;
  margin-right: 1%;
  margin-left: 1%;
}

.no-style {
  border: none;
  padding: 0;
  background: none;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    border: none;
    background: none;
    box-shadow: none;
  }
}

.fade-in-flex {
  display: flex;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.5s, max-height 0.5s ease-in-out, visibility 0.5s;
}

/* Final state: fully visible and takes up space */
.fade-in-flex.active {
  opacity: 1;
  max-height: 500px; /* Adjust as needed */
  visibility: visible;
}

/* radio button css */
ion-radio::part(container) {
  width: 30px;
  height: 30px;

  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #0154e8;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}

#form-note {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
}
.login-card {
  width: 50%;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.qr-code-grid {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
}
.qr-code-item {
  /* padding: 50%; */
  /* margin: 5%; */
  margin: auto;
  /* border: 1px solid red; */
  padding-left: 1%;
  width: 100px;
}

@media (max-width: 500px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
  .qr-code-grid {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-items: center; */
  }

  .card-padding-mid {
    padding: 5%;
  }

  .card-padding-small {
    padding: 2%;
  }

  .small-card {
    width: 100%;
  }

  .margin-5 {
    margin: 3%;
  }

  .header-icons {
    font-size: 25px;
  }

  .form-grid-data {
    padding-left: 1%;
  }

  #right-align {
    font-size: 1rem;
    margin-top: 0.1%;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }

  #form-note {
    margin-top: 1%;
    margin-left: 1%;
  }
  .header-icon-group {
    /* width: 20%; */
    margin-left: 38%;
  }
  .header-icon-ind {
    margin-left: -15%;
  }
  .header-icon {
    /* margin-left: -10%; */
    font-size: 24px;
  }
  .login-card {
    width: 100%;
  }
}
